<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ZEEWOOD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="hello.js"></script>
  <script src="add.js"></script>

  </head>
 
<body>
    <div id="btn" align="center">
    </div>
    <div class="container">
  <h2>Zeewood form</h2>
  <form class="form-horizontal" id="noteorm">
    <div class="form-group">
      <label class="control-label col-sm-2" for="id">Id:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="id" placeholder="Enter id" name="id">
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="content">Content:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="content" placeholder="Enter content" name="content">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="createdAt">Created Date:</label>
      <div class="col-sm-10">          
        <input type="date" class="form-control" id="createdAt" name="createdAt">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="updatedAt">Updated Date:</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="updatedAt" name="updatedAt">
      </div>
    </div>
    
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
  <br/>
  <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-success" id="getAllNotes">Get All Book</button>
      </div>
    </div>
    <div id="getResultDiv" style="padding: 20px 10px 20px 50px">
    <ul class="list-group"></ul>
    </div>
</div>


</body>
 
</html>